body {
    font-family: Arial, sans-serif;
    background-color: #EDCDBB;
}

.container {
    width: 50%;
    height: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFEDDB;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #BF9270;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
